{% extends "dashboard/layout.html" %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/dashboard/jodit.min.css' %}" />
{% endblock %}


{% block body %}
{% include "dashboard/menu.html" %}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        position: relative;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 10;
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        align-items: center;
        background-color: rgb(0, 0, 0, .8);
        min-width: 100%;
        min-height: 100%;
        color: #fff;
    }

    .overlayOpen {
        display: flex;
    }

    .overlay .images, .audios {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .overlay .close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 1rem;
        font-size: 1.5rem;
    }

    .image {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: .5rem;
        width: 9rem;
        max-width: 9rem;
        min-width: 9rem;
        height: 5rem;
        max-height: 5rem;
        min-height: 5rem;
    }
    
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .selected {
        border: 2px solid tomato;
    }
    
    #imageId, #imagesId, #videosId, #audioId, #pdfId, #docId {
        display: none;
    }

    .imageArray, .videoArray {
        display: flex;
        gap: 1rem;
    }
    
    .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: .5rem;
    }

    .video {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        align-items: center;
        width: 9rem;
        max-width: 9rem;
        min-width: 9rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .audio {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20rem;
        background-color: rgb(255, 255, 255,.7);
        border-radius: 1rem;
        color: black;
        cursor: pointer;
        box-shadow: 0 0 5px #000;
    }

    .books {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 90%;
        background-color: rgb(255, 255, 255,.7);
    }

    .books .book {
        display: flex;
        gap: .5rem;
        align-items: center;
        color: black;
        padding: .3rem;
        width: 20rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 1px;
        min-width: 100%;
        cursor: pointer;
    }

    .book {
        display: flex;
        gap: .5rem;
        align-items: center;
        color: black;
        padding: .3rem;
    }

    .displayedBook {
        background-color: #ddd;
        box-shadow: 0 0 5px #000;
    }

    .book:last-of-type {
        box-shadow: none;
    }


    .book img {
        width: 1.5rem;
    }

    .allImages img,
    .allVideos .video {
        cursor: pointer;
    }

    .allImages img:hover,
    .allVideos .video:hover,
    .books .book:hover {
        border: 2px solid tomato;
    }
</style>
<form onsubmit="event.preventDefault()" method="POST" class="items">
    <h1 class="itemsTitle">اضافة عنصر</h1>
    {% csrf_token %}
    <input class="input" value="{{data.title}}" name="title" type="text" placeholder="العنوان" required>
    
    <div class="editorContainer">
        <textarea name="body" placeholder="التفاصيل" id="editor" required>{{data.body|safe}}</textarea>
    </div>
    
    <button class="button" onclick="openOverlay(this, 'main_img');fetchImages()" type="button">الصورة الرئيسية</button>
    <input value="{{data.main_img.id}}" type="text" id="imageId" name="main_img">
    <div class="mainImage">
        {% if data.main_img %}
        <div class="image">
            <img src="{{data.main_img.image.url}}">
        </div>
        {% endif %}
    </div>

    {% if section.book %}
    <button onclick="openOverlay(this, 'pdf_file');fetchPDFS()" type="button" class="button">ملف pdf</button>
    <input value="{{data.pdf_file.id}}" id="pdfId" class="input" name="pdf_file" type="text">
    <div class="pdf_file">
        {% if data.pdf_file %}
        <div class="book">
            <img src="{% static 'icons/pdf.svg' %}">
            <p class="title">{{ data.pdf_file.title }}</p>
        </div>
        {% endif %}
    </div>
    <button onclick="openOverlay(this, 'doc_file');fetchDocs()" type="button" class="button">ملف word</button>
    <input value="{{data.doc_file.id}}" id="docId" class="input" name="doc_file" type="text">
    <div class="doc_file">
        {% if data.doc_file %}
        <div class="book">
            <img src="{% static 'icons/word.svg' %}">
            <p class="title">{{ data.doc_file.title }}</p>
        </div>
        {% endif %}
    </div>
    {% endif %}

    
    {% if section.max %}
    <button class="button" onclick="openOverlay(this, 'img_array');fetchImages()" type="button">صور إضافية</button>
    <div class="imageArray">
        {% if data.img_array %}
            {% for image in data.img_array %}
            <div class="image">
                <img src="{{image.image.url}}">
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <select id="imagesId" name="img_array" multiple>
        {% if data.img_array %}
            {% for image in data.img_array %}
                <option value="{{image.id}}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
    {% endif %}
    
    {% if section.max %}
    <button class="button" onclick="openOverlay(this, 'vid_array');fetchVideos()" type="button">مقاطع فيديو</button>
    <div class="videoArray">
        {% if data.vid_array %}
            {% for video in data.vid_array %}
            <div class="video">
                <div class="image">
                    <img src="https://img.youtube.com/vi/{{video.vid_id}}/0.jpg" alt="Video Thumbnail">
                </div>
                <div>{{video.title}}</div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <select id="videosId" name="vid_array" multiple>
        {% if data.vid_array %}
            {% for video in data.vid_array %}
            <option value="{{video.id}}" selected></option>
            {% endfor %}
        {% endif %}
    </select>
    {% endif %}

    {% if section.max %}
    <button class="button" onclick="openOverlay(this, 'audio');fetchAudios()" type="button">مقطع صوت</button>
    <input value="{{data.audio.id}}" type="text" id="audioId" name="audio">
    <div class="audio">
        {% if data.audio %}
        <audio src="{{data.audio.audio.url}}" controls></audio>
        <div class="title">{{data.audio.title}}</div>
        {% endif %}
    </div>
    {% endif %}

    <p class="message"></p>
    <input onclick="formValidation(this.parentElement)" class="button" type="submit" value="إرسال">
</form>

<!-- Message overlay -->
{% if message %}
<div class="overlay overlayOpen">
    <h1>{{message}}</h1>
    <button class="button" class="close" type="button" onclick="closeOverlay(this)">×</button>
</div>
{% endif %}

<!-- All images overlay -->
<div class="allImages overlay">
    <h1>تحديد صورة</h1>
    <a onclick="closeOverlay(this)" href="{% url 'dashboard:create-image' %}" target="_blank"><button type="button">رفع صور</button></a>
    <div class="images">
    </div>
    <button type="button" onclick="pickSelectedTarget(this)">حفظ</button>
    <button class="close" type="button" onclick="closeOverlay(this)">×</button>
</div>

<!-- All videos overlay -->
<div class="allVideos overlay">
    <h1>تحديد فيديو</h1>
    <a onclick="closeOverlay(this)" href="{% url 'dashboard:create-video' %}" target="_blank"><button type="button">إضافة فيديو</button></a>
    <div class="videos">
    </div>
    <button type="button" onclick="pickSelectedTarget(this)">حفظ</button>
    <button class="close" type="button" onclick="closeOverlay(this)">×</button>
</div>

<!-- All audios overlay -->
<div class="allAudios overlay">
    <h1>تحديد صوت</h1>
    <a onclick="closeOverlay(this)" href="{% url 'dashboard:create-audio' %}" target="_blank"><button type="button">إضافة صوت</button></a>
    <div class="audios">
    </div>
    <button type="button" onclick="pickSelectedTarget(this)">حفظ</button>
    <button class="close" type="button" onclick="closeOverlay(this)">×</button>
</div>

<div class="allPDFS overlay">
    <h1>تحديد ملف pdf</h1>
    <a onclick="closeOverlay(this)" href="{% url 'dashboard:create-image' %}" target="_blank"><button type="button">رفع صور</button></a>
    <div class="pdfs books">
    </div>
    <button type="button" onclick="pickSelectedTarget(this)">حفظ</button>
    <button class="close" type="button" onclick="closeOverlay(this)">×</button>
</div>

<div class="allDocs overlay">
    <h1>تحديد ملف word</h1>
    <a onclick="closeOverlay(this)" href="{% url 'dashboard:create-image' %}" target="_blank"><button type="button">رفع صور</button></a>
    <div class="docs books">
    </div>
    <button type="button" onclick="pickSelectedTarget(this)">حفظ</button>
    <button class="close" type="button" onclick="closeOverlay(this)">×</button>
</div>

<script src="{% static 'js/jodit.min.js' %}"></script>
<script>
    const editor = Jodit.make('#editor');

    let ids = []
    let srcs = []
    let titles = []

    function openOverlay(button, field){
        if(field == "vid_array"){
            document.querySelector(".allVideos").style.display = "flex"
        } else if(field == "audio"){
            document.querySelector(".allAudios").style.display = "flex"
        } else if(field == "pdf_file"){
            document.querySelector(".allPDFS").style.display = "flex"
        } else if(field == "doc_file"){
            document.querySelector(".allDocs").style.display = "flex"
        } else {
            document.querySelector(".allImages").style.display = "flex"
        }

        localStorage.setItem("field", field)
    }

    function closeOverlay(item){
        document.querySelectorAll(".selected").forEach(one => one.classList.remove("selected"))
        item.parentElement.style.display = "none"
        localStorage.clear()
        ids = []
        srcs = []
        titles = []
    }

    function saveTargetInfo(target){
        let field = localStorage.getItem("field")

        if(field == "main_img"){
            document.querySelectorAll(".allImages img").forEach(one => one.classList.remove("selected"))

            let id = target.dataset.value
            let image_src = target.src
            localStorage.setItem("image_id", id)
            localStorage.setItem("image_src", image_src)

        } else if(field == "img_array"){
            ids.push(target.dataset.value)
            srcs.push(target.src)

            localStorage.setItem("images_id", JSON.stringify(ids))
            localStorage.setItem("images_src", JSON.stringify(srcs))

        } else if(field == "vid_array"){
            let imageSrc = target.querySelector("img").src
            let vidTitle = target.querySelector(".title").innerHTML

            ids.push(target.dataset.value)
            srcs.push(imageSrc)
            titles.push(vidTitle)

            localStorage.setItem("videos_id", JSON.stringify(ids))
            localStorage.setItem("videos_src", JSON.stringify(srcs))
            localStorage.setItem("videos_title", JSON.stringify(titles))
        } else if(field == "audio"){
            document.querySelectorAll(".allAudios .audio").forEach(one => one.classList.remove("selected"))

            let audioSrc = target.querySelector("audio").src
            let audioTitle = target.querySelector(".title").innerHTML
            let id = target.dataset.value

            localStorage.setItem("audio_id", id)
            localStorage.setItem("audio_src", audioSrc)
            localStorage.setItem("audio_title", audioTitle)
        } else if(field == "pdf_file"){
            document.querySelectorAll(".books .book").forEach(one => one.classList.remove("selected"))

            let bookTitle = target.querySelector(".title").innerHTML
            let id = target.dataset.value

            localStorage.setItem("book_id", id)
            localStorage.setItem("book_title", bookTitle)
        } else if(field == "doc_file"){
            document.querySelectorAll(".books .book").forEach(one => one.classList.remove("selected"))

            let bookTitle = target.querySelector(".title").innerHTML
            let id = target.dataset.value

            localStorage.setItem("book_id", id)
            localStorage.setItem("book_title", bookTitle)
        }

        // Adding select effect
        if(target.classList.contains("selected")){
            target.classList.remove("selected")
        } else {
            target.classList.add("selected")
        }
    }

    function pickSelectedTarget(target){
        let field = localStorage.getItem("field")

        if(field == "main_img"){
            let src = localStorage.getItem("image_src")
            let id = localStorage.getItem("image_id")

            document.querySelector(".mainImage").innerHTML = 
            `<div class="image">
                <img src="${src}">
            </div>`
            document.getElementById("imageId").value = id

        } else if(field == "img_array"){
            const imageArray = document.querySelector(".imageArray")
            const imagesId = document.getElementById("imagesId")
            const images_src = JSON.parse(localStorage.images_src)
            const images_id = JSON.parse(localStorage.images_id)

            imageArray.innerHTML = "" 
            images_src.map(item => {
                imageArray.innerHTML += 
                `<div class="image">
                    <img src="${item}">
                </div>`
            })

            imagesId.innerHTML = ""
            images_id.map(item => {
                imagesId.innerHTML += `<option value="${item}" selected></option>`
            })
        } else if(field == "vid_array"){
            const videoArray = document.querySelector(".videoArray")
            const videosId = document.getElementById("videosId")
            const videos_src = JSON.parse(localStorage.videos_src)
            const videos_title = JSON.parse(localStorage.videos_title)
            const videos_id = JSON.parse(localStorage.videos_id)

            videoArray.innerHTML = "" 
            for(let i = 0; i < videos_title.length; i++){
                videoArray.innerHTML += 
                `<div class="video">
                    <div class="image">
                        <img src="${videos_src[i]}" alt="Video Thumbnail">
                    </div>
                    <div>${videos_title[i]}</div>
                </div>`
            } 

            videosId.innerHTML = ""
            videos_id.map(item => {
                videosId.innerHTML += `<option value="${item}" selected></option>`
            })
        } else if(field == "audio"){
            let src = localStorage.getItem("audio_src")
            let id = localStorage.getItem("audio_id")
            let title = localStorage.getItem("audio_title")

            document.querySelector(".audio").innerHTML = "" 
            document.querySelector(".audio").innerHTML = 
            `<audio src="${src}" controls></audio>
            <div class="title">${title}</div>`
            document.getElementById("audioId").value = id

        } else if(field == "pdf_file"){
            let id = localStorage.getItem("book_id")
            let title = localStorage.getItem("book_title")

            document.querySelector(".pdf_file").innerHTML = ""
            document.querySelector(".pdf_file").innerHTML = 
            `<div class="book">
                <img src="{% static 'icons/pdf.svg' %}">
                <p class="title">${title}</p>
            </div>`
            document.getElementById("pdfId").value = id

        }  else if(field == "doc_file"){
            let id = localStorage.getItem("book_id")
            let title = localStorage.getItem("book_title")

            document.querySelector(".doc_file").innerHTML = ""
            document.querySelector(".doc_file").innerHTML = 
            `<div class="book">
                <img src="{% static 'icons/word.svg' %}">
                <p class="title">${title}</p>
            </div>`
            document.getElementById("docId").value = id
        }

        closeOverlay(target)
    }

    function fetchImages(){
        let url = "{% url 'dashboard:images' %}"

        fetch(url, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        }
        })
        .then(response => response.json())
        .then(json => {
            document.querySelector(".images").innerHTML = ""
            json.context.map(item => {
                document.querySelector(".images").innerHTML += 
                `<div class="image">
                    <img onclick="saveTargetInfo(this)" data-value="${item.id}" src="{{media_path}}${item.image}" alt=" ">
                </div>`
            })
        })
    }

    function fetchVideos(){
        let url = "{% url 'dashboard:videos' %}"

        fetch(url, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        }
        })
        .then(response => response.json())
        .then(json => {
            document.querySelector(".videos").innerHTML = ""
            json.context.map(item => {
                document.querySelector(".videos").innerHTML += 
                `<div onclick="saveTargetInfo(this)" class="video" data-value="${item.id}">
                    <div class="image">
                        <img src="https://img.youtube.com/vi/${item.vid_id}/0.jpg" alt=" ">
                    </div>
                    <div class="title">${item.title}</div>
                </div>`
            })
        })
    }

    function fetchAudios(){
        let url = "{% url 'dashboard:audios' %}"

        fetch(url, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        }
        })
        .then(response => response.json())
        .then(json => {
            document.querySelector(".audios").innerHTML = ""
            json.context.map(item => {
                document.querySelector(".audios").innerHTML += 
                `<div onclick="saveTargetInfo(this)" class="audio" data-value="${item.id}">
                    <audio src="{{media_path}}${item.audio}" controls></audio>
                    <div class="title">${item.title}</div>
                </div>`
            })
        })
    }

    function fetchPDFS(){
        let url = "{% url 'dashboard:pdfs' %}"

        fetch(url, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        }
        })
        .then(response => response.json())
        .then(json => {
            document.querySelector(".pdfs").innerHTML = "" 
            json.context.map(item => {
                document.querySelector(".pdfs").innerHTML += 
                `<div onclick="saveTargetInfo(this)" class="book" data-value="${item.id}">
                    <img src="{% static 'icons/pdf.svg' %}">
                    <p class="title">${item.title}</p>
                </div>`
            })
        })
    }

    function fetchDocs(){
        let url = "{% url 'dashboard:docs' %}"

        fetch(url, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        }
        })
        .then(response => response.json())
        .then(json => {
            document.querySelector(".docs").innerHTML = "" 
            json.context.map(item => {
                document.querySelector(".docs").innerHTML += 
                `<div onclick="saveTargetInfo(this)" class="book" data-value="${item.id}">
                    <img src="{% static 'icons/word.svg' %}">
                    <p class="title">${item.title}</p>
                </div>`
            })
        })
    }

    function formValidation(form){
        const imageField = document.getElementById("imageId")
        if(imageField.value == null || imageField.value == ""){
            document.querySelector(".message").innerHTML = `الرجاء اختيار صورة رئيسية`
        } else {
            form.submit()
        }
    }

</script>
{% endblock %}
