body {
    position: relative;
    min-height: 100vh;
    background-color: var(--bg);
    padding-bottom: 4rem;
}

main {
    position: relative;
    padding: 1rem 1.5rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent var(--bgTransparency), var(--bg)), url(../background/header-bg.svg);
	background-size: var(--bgSize);
    z-index: 1;
}

main .pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    position: relative;
    z-index: 1;
}

main .itemsContainer {
    display: block;
}




/* Page path styling */
main .path {
    position: relative;
    z-index: 1;
    display: flex;
    column-gap: .3rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    align-items: center;
    flex-wrap: wrap;
}

main .path .component {
    font-size: 15px;
}

main .path .component a {
    display: block;
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--shadowColor);
}

main .path .pathArrow {
    font-size: 30px;
    font-weight: bolder;
    color: var(--shadowColor);
    margin-bottom: 3px;
}




/* Pagination bar styling */
.paginationBar {
   margin-top: auto;
   position: relative;
   z-index: 1;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
    margin-top: 2rem;
}

.pagination .pageButton {
    padding: .1rem .3rem;
    background-color: var(--reverseComponent);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: var(--cardShadow);
    cursor: pointer;
}

.pagination .pageButton[disabled] {
    cursor: auto;
}

.pagination .active {
    background-color: var(--shadowColor);
    color: var(--reverseComponent);
    cursor: auto;
}

@media only screen and (max-width: 1250px) {
    main {
        padding: .7rem;
        padding-bottom: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    main .path .component {
        font-size: 12px;
    }
}



main .pageContainer {
    position: relative;
    z-index: 2;
}




/* ------------------------- About main page styling  ---------------------------- */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--globalGap);
    margin: 3rem 0;
}

.hoverCard {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    border-radius: var(--borderRadius);
    cursor: pointer;
    width: 15rem;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-image: linear-gradient(-45deg, var(--component), transparent, var(--component));
}

.hoverCard::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: var(--structure);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform: translateX(-120%) translateY(-45%) rotate(35deg);
    -webkit-transform: translateX(-120%) translateY(-45%) rotate(35deg);
}

.hoverCard .label {
    position: relative;
    z-index: 5;
    font-weight: bold;
    color: var(--linkColor);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.hoverCard img {
    position: relative;
    z-index: 5;
    color: var(--linkColor);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 2.5rem;
}

.hoverCard:hover::before,
.hoverCard:focus::before{
    opacity: .1;
}

.hoverCard:hover::after,
.hoverCard:focus::after {
    -webkit-transform: translateX(-20%) translateY(-50%) rotate(35deg);
    transform: translateX(-20%) translateY(-50%) rotate(35deg);
}

.hoverCard:hover > .label,
.hoverCard:focus > .label {
    color: var(--reverseComponent);
}

.hoverCard:hover > img,
.hoverCard:focus > img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(203deg) brightness(101%) contrast(104%);
}




/* -------------------------  All horizontal cards styling  ---------------------------- */
main .pageContainer .item {
    background-color: var(--component);
    box-shadow: var(--cardShadow);
    border-radius: var(--borderRadius);
    cursor: pointer;
    display: flex;
    margin-bottom: 1rem;
    min-width: 100%;
    transition: all .3s;
}

main .pageContainer .item:hover {
    box-shadow: var(--hoverShadow);
}

main .pageContainer .item .itemImage {
    max-height: 6rem;
    max-width: 10rem;
    min-height: 6rem;
}

main .pageContainer .item .itemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s;
    border: 2px solid var(--shadowColor);
    border-radius: var(--borderRadius);
}

main .pageContainer .item:hover .itemImage img {
    filter: grayscale(80%);
}

main .pageContainer .item .itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: .5rem;
}

main .pageContainer .item .itemDetails .itemTitle {
    color: var(--shadowColor);
    transition: all .5s;
}


main .pageContainer .item .itemDetails .statistics {
    display: flex;
    gap: .5rem;
    color: var(--darkComponent);
    font-size: 12px;
}




/* ------ Page Styling for Mobile Screens ------ */
@media only screen and (max-width: 768px) {
    main .pageContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1rem;
    }

    main .pageContainer {
        width: auto;
    }

    main .pageContainer .item {
        display: flex;
        flex-direction: column;
	    width: 20rem;
        max-width: 90vw;
        min-height: 95%;
    }

    main .pageContainer .item .itemImage {
        float: none;
        max-width: 100%;
        height: 10rem;
        max-height: 10rem;
    }

    main .pageContainer .item .itemDetails {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    main .pageContainer .item .itemDetails .itemTitle {
        margin-top: .3rem;
        overflow: hidden;
        max-height: 3rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}




/* ------------------------- All cards styling  ---------------------------- */
main .pageContainer .card {
    background-color: var(--component);
    box-shadow: var(--cardShadow);
    border-radius: var(--borderRadius);
    cursor: pointer;
    display: flex;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    width: 20rem;
    max-width: 90vw;
    height: 100%;
    transition: all .3s;
}

main .pageContainer .card:hover {
    box-shadow: var(--hoverShadow);
}

main .pageContainer .card .cardImage {
    height: 13rem;
    max-width: 100%;
    float: none;
}

main .pageContainer .card .cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s;
    border: 2px solid #333;
    border-radius: var(--borderRadius);
}

main .pageContainer .card:hover .cardImage img {
    filter: grayscale(80%);
}

main .pageContainer .card .cardDetails {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin: .5rem;
}

main .pageContainer .card .cardDetails .cardTitle {
    color: var(--linkColor);
    transition: all .5s;
    text-align: center;
    overflow: hidden;
    max-height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}




/* ------------------------- eBook Styling ---------------------------- */
.booksContainer {
    display: flex;
    justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
    gap: 6rem;
    row-gap: 1rem;
}

.largeBookContainer {
    column-gap: 15rem;
    row-gap: 2rem;
}

.booksContainer a {
    width: 1%;
}

.booksContainer .bookWrapper {
    width: 170px;
    max-width: 37vw;
    text-align: center;
}
  
.booksContainer .book {
    width: 175px;
    height: 265px;
    max-width: 40vw;
    max-height: 60vw;
    position: relative;
    text-align: center;
	cursor:pointer;
    display: flex;
    justify-content: center;
}

.booksContainer .largeBook {
    width: 250px;
    height: 350px;
}
  
.booksContainer .book .bookCover {
    position: absolute;	
    width: 100%;
    height: 100%;
    transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    background: #111;
    background-size:cover;
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(2,0,36,.5) 0%, rgba(0,0,0,.5) 2%, rgba(255,255,255,.5) 3%, rgba(247,254,255,.5) 5%, rgba(0,0,0,.5) 7%, rgba(255,255,255,.5) 13%, rgba(255,255,255,.2) 100%);
    box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.booksContainer .book .bookCover img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
}
  
.booksContainer .book .light {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 3px; 
    background-image: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
    top: 0;
    right:0;
    opacity: .1;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
  
.booksContainer .book:hover .bookCover {
    transform: perspective(2000px) rotateY(30deg);
    -webkit-transform: perspective(2000px) rotateY(30deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
    transition: all 0.7s;
}
   
.booksContainer .book:hover .light {
    opacity: 1;
    width: 100%;
}
  
.booksContainer .book .bookInside{
    width: calc(100% - 2px);
    height:96%;
    position: absolute;
    top: 2%;
    border: 1px solid grey;
    border-radius:3px;
    background: white;
    box-shadow: 
    10px 40px 40px -10px #00000030,
    inset 2px 0 0 grey,
    inset 3px 0 0 #dbdbdb,
    inset 4px 0 0 white,
    inset 5px 0 0 #dbdbdb,
    inset 6px 0 0 white,
    inset 7px 0 0 #dbdbdb,
    inset 8px 0 0 white,
    inset 9px 0 0 #dbdbdb;
}

.booksContainer .bookWrapper .bookTitle {
    position: relative;
    font-weight: bold;
    font-size: 15px;
    margin-top: .5rem;
    overflow: hidden;
    max-height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--titleColor);
}




/* ---- Styling for Mobile Screens ----- */
@media only screen and (max-width: 768px) {
    .booksContainer .bookWrapper .bookTitle {
        position: relative;
        font-weight: bold;
        font-size: 13px;
    }

    main .article {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}




/* ------------------------- pLibrary Styling ---------------------------- */
.pageContainer .searchWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: var(--component);
    border-radius: var(--borderRadius);
    width: 100%;
}

.pageContainer .searchWindow .windowTitle {
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#464d55, #25292e);
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    font-size: 35px;
    padding: 1rem;
}

.pageContainer .searchWindow .windowOptions {
    width: 100%;
    padding: 1rem 2rem;
}

.pageContainer .searchWindow .windowOptions .searchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.pageContainer .searchWindow .windowOptions .searchForm .submit {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-radius: .5rem;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: 0;
  overflow: hidden;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.pageContainer .searchWindow .windowOptions .searchField {
  flex: 1;
  width: fit-content;
  border: none;
  background: rgb(91, 123, 123, .5);
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, .35), 0 2px 0 hsla(0, 0%, 100%, .15);
  margin: 1rem 0;
  padding: .5rem .5rem;
  color: #fff;
  border-radius: .5rem;
  font-size: 20px;
}

.pageContainer .searchWindow .windowOptions .searchField::placeholder {
  color: whitesmoke;
  opacity: 1;
}

.pageContainer .searchWindow .windowOptions .searchField:-ms-input-placeholder {
  color: whitesmoke;
}

.pageContainer .searchWindow .windowOptions .searchField::-ms-input-placeholder {
  color: whitesmoke;
}

.pageContainer .searchWindow .windowOptions fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem .5rem;
  border-radius: .5rem;
  border: var(--border);
  margin-top: 1rem;
  color: var(--shadowColor);
}

.pageContainer .searchWindow .windowOptions fieldset div {
  display: inline-block;
  cursor: pointer;
}
  
.pageContainer .searchWindow .windowOptions fieldset input,
.pageContainer .searchWindow .windowOptions fieldset label {
    cursor: pointer;
    font-size: 18px;
    color: var(--shadowColor);
}

@media only screen and (max-width: 768px) {
  .pageContainer .searchWindow .windowTitle {
    font-size: 30px;
  }

  .pageContainer .searchWindow .windowOptions .searchField {
    min-width: auto;
    width: fit-content;
    color: whitesmoke;
  }
}




/* ----------------------- Table styling */
.pageContainer .pLibraryTable {
    border-collapse: collapse;
    width: 100%;
    text-align: right;
    table-layout: fixed;
    margin-bottom: 3rem;
    border: none;
}
  
.pageContainer .pLibraryTable tbody tr {
  background-color: var(--component);
  justify-content: center;
  border-bottom: 2px solid rgba(0,0,0,var(--colorOpacity));
  border-top: 2px solid rgba(0,0,0,var(--colorOpacity));
  display: block;
  color: var(--shadowColor);
}

.pageContainer .pLibraryTable tbody tr:not(:last-child) {
  margin-bottom: 3rem;
}
  
.pageContainer .pLibraryTable th,
.pageContainer .pLibraryTable td {
    padding: .1rem .5rem;
    width: 100%;
    font-size: 18px;
    border-top: 1px solid #000;
}

.pageContainer .pLibraryTable td {
  display: block;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
  border: none;
  border-bottom: 2px dashed rgba(0,0,0,var(--colorOpacity));
  border-right: 2px solid rgba(0,0,0,var(--colorOpacity));
  border-left: 2px solid rgba(0,0,0,var(--colorOpacity));
}

.pageContainer .pLibraryTable td::before {
  content: attr(data-label);
  font-weight: bold;
}

.pageContainer .pLibraryTable td:last-child {
  border-bottom: 0;
}

.pageContainer .pLibraryTable th:first-child {
  border-top-right-radius: var(--borderRadius);
}

.pageContainer .pLibraryTable th:last-child {
  border-top-left-radius: var(--borderRadius);
}
  

  @media screen and (max-width: 500px) {
    .pageContainer .pLibraryTable td {
        grid-template-columns: 1fr 2fr;
    }
  }




/* ------------------------- Archive page Styling ---------------------------- */
main .pageContainer .questions {
    display: flex;
    flex-direction: column;
}
main .pageContainer .questionItem {
    width: 100%;
}

main .pageContainer .questionItem {
    background-color: var(--component);
    box-shadow: var(--cardShadow);
    border-radius: var(--borderRadius);
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    overflow: hidden;
    max-height: 3.7rem;
    transition: all .3s;
}

main .pageContainer .item:hover {
    box-shadow: var(--hoverShadow);
}

main .pageContainer .questionItem .itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: .5rem;
}

main .pageContainer .questionItem .itemDetails .itemTitle {
    color: var(--shadowColor);
    transition: all .5s;
    width: 190vmin;
    max-width: 90vmax;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

main .pageContainer .questionItem .itemDetails .statistics {
    display: flex;
    gap: .5rem;
    color: var(--darkComponent);
    font-size: 12px;
}

/* ----- Question form styling ---- */
.q-title {
    font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

.q-title a {
    color: var(--titleColor);
    font-weight: bold;
}

.question {
    margin: 0 20vw;
    margin-bottom: 5rem;
}

.question .nameAndNum {
	display: flex;
	column-gap: .5rem;
}

.itemsContainer .question input {
	display: block;
	background-color: var(--component);
	border: none;
	border-radius: .5rem;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 15px;
	width: 100%;
    color: var(--shadowColor);
}

.question textarea {
    display: block;
    background-color: var(--component);
    color: var(--shadowColor);
    border: none;
    border-radius: var(--borderRadius);
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    resize: none;
    height: 10rem;
}

.question #qsubmit {
	background-color: var(--component);
	cursor: pointer;
	box-shadow: var(--cardShadow);
    transition: all .3s;
    font-weight: bolder;
}

.question #qsubmit:hover {
	box-shadow: var(--hoverShadow);
}

/* ---- Page Styling for Mobile Screen ---- */
@media only screen and (max-width: 768px) {
    main .pageContainer .questions {
        gap: 1rem;
    }

    main .pageContainer .questionItem {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
	    width: 95vw;
        min-height: 100%;
        max-height: 2.5rem;
        overflow: hidden;
    }

    main .pageContainer .questionItem .itemDetails .itemTitle {
        width: 90vmin;
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    main .pageContainer .questionItem .itemDetails {
        flex-direction: column-reverse;
    }

    .question {
        display: block;
        margin: 0 1vw;
        margin-bottom: 3rem;
    }
  }




/* ------------------------- Gallery Styling ---------------------------- */
/* ----------------------- Styling Gallery */
.pageContainer .gallery {
	padding: 2px;
	flex-flow: row wrap;
	display: flex;
    gap: 1rem;
	justify-content: center;
}
  
.pageContainer .gallery .img {
	width: 22rem;
	cursor: zoom-in;
	min-height: 15rem;
    max-height: 15rem;
	position: relative;
}
  
.pageContainer .gallery .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--borderRadius);
	box-shadow: var(--cardShadow);
	transition: .4s;
}

.pageContainer .gallery img:hover {
	box-shadow: var(--hoverShadow);
	transform: scale(1.05);
}



/* --- Styling Gallery for tablet screens */
@media only screen and (max-width: 1120px) {
    .pageContainer .buttons .overlaybutton {
        text-shadow: none;
        filter: drop-shadow(0 0 .9px var(--shadowColor));
    }
    
    .pageContainer .overlayInner {
        width: 100vw;
    }
}




/* ------------------------- Contest styling ---------------------------- */
.pageContainer .contestDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.pageContainer .contestDetails ul {
    margin-right: 1rem;
}

.pageContainer .contestDetails .note {
    margin-top: 1rem;
    color: tomato;
}

.pageContainer .userInfo {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageContainer .userInfo .divTitle p {
    font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
    color: var(--shadowColor);
}

.pageContainer .userInfo input {
    display: block;
	background-color: var(--component);
    color: var(--shadowColor);
	border: none;
	margin-bottom: 10px;
    border-radius: .5rem;
	padding: 10px;
	font-size: 15px;
	width: 100%;
}

.pageContainer .contestQuestions {
    margin-bottom: 3rem;
}

.pageContainer .contestQuestions fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
    border: 2px solid #3333;
    margin-bottom: 1.5rem;
    color: var(--shadowColor);
    width: 90vmin;
}

.pageContainer .contestQuestions fieldset div,
.pageContainer .contestQuestions fieldset input,
.pageContainer .contestQuestions fieldset label {
    cursor: pointer;
}

.pageContainer .contestQuestions fieldset label {
    position: relative;
}

.pageContainer .contestQuestions fieldset label::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pageContainer .contestQuestions fieldset legend {
    font-weight: bold;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.arrow {
    border: none;
    background-color: var(--component);
    color: var(--shadowColor);
	cursor: pointer;
    border-radius: .5rem;
    padding: 5px 8px;
    text-align: center;
    width: fit-content;
    transition: all .2s;
    box-shadow: var(--cardShadow);
}

.arrow.success {
    background-color: #4CBB17;
    color: #fff;
}

.arrow span {
    font-size: 20px;
    font-weight: bolder;
}

.arrow input {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.arrow:hover {
    box-shadow: var(--hoverShadow);
}

.show {
    display: flex;
    animation: fade .5s forwards;
}

#message {
    color: transparent;
    margin-bottom: .5rem;
    transition: color .5s ease 0s;
}



/* --- Page Styling for Mobile Screens --- */
@media only screen and (max-width: 768px) {
    .userInfo {
        margin: 0;
        margin-bottom: 0;
    }

    .userInfo .divTitle p {
        font-size: 20px;
    }
}




/* ------------------------- Article styling ---------------------------- */
main .article {
    position: relative;
    z-index: 1;
}

main .article .articleDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5rem;
	border-bottom: var(--border);
    padding-bottom: .5rem;
    margin-bottom: 2rem;
}

main .article .articleDetails .articleTitle {
    font-size: 20px;
    font-weight: bolder;
    color: var(--titleColor);
    line-height: 2rem;
}

main .article .articleDetails .button {
    background-color: var(--black);
    padding: .5rem 1.5rem;
    color: #fff;
    border-radius: var(--borderRadius);
    border: var(--border);
    transition: all .3s;
}

main .article .articleDetails .button:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #333;
}

main .article .articleDetails .statistics {
    display: flex;
    column-gap: 1rem;
    color: var(--linkColor);
}

main .article .articleContent .articleMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

main .article .articleContent .articleMedia .articleImage {
    width: 40rem;
    max-width: 85vw;
    height: 20rem;
    border-radius: var(--borderRadius);
}

main .article .articleContent .articleMedia .articleImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--borderRadius);
    box-shadow: var(--cardShadow);
}

main .article .articleContent .articleMedia audio {
    width: 40rem;
    max-width: 85vw;
    border-radius: 1.5rem;
    box-shadow: var(--cardShadow);
}

main .article .articleContent .articleText {
    text-align: justify;
    line-height: 2rem;
    color: var(--shadowColor);
}

main .article .articleContent .articleText  a {
    color: var(--linkColor);
    text-decoration: underline;
}

main .article .articleContent .articleText ul,
main .article .articleContent .articleText ol {
    padding: 0 2rem;
}




@media only screen and (max-width: 768px) {
    main .article .articleDetails .articleTitle {
        font-size: 17px;
    }

    main .article .articleDetails .statistics {
        font-size: 11px;
    }
}




/* ------------------------- Classic article Styling ---------------------------- */
main .article .articleContent {
    margin-top: 1rem;
}

.article .downloadTable , .downloadTable td {
    border: 2px dashed rgba(0, 0, 0, var(--colorOpacity));
    border-collapse: collapse;
    padding: .5rem 2rem;
    background-color: var(--component);
    color: var(--shadowColor);
}

.article .downloadTable td img {
    width: 2rem;
    margin: 0 .3rem -7px .3rem;
}

.article .downloadTable td img:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.article .articleContent .sideImage img {
    float: left;
    max-width: 17rem;
    width: 100%;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, .5));
    margin: 0 2rem;
}




@media only screen and (max-width: 768px) {
    .article .downloadTable {
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
    }
    
    main .article .articleContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--globalGap);
        text-align: center;
    }

    .article .articleContent .sideImage img {
        float: none;
        max-width: calc(100% - 12rem);
    }
}




/* ------------------------- eBook page Styling ---------------------------- */
main .eBookArticle {
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

.article .articleContent .bookIdTable {
    min-width: 40vw;
}

.article .articleContent .bookIdTable, .article .articleContent .bookIdTable td {
    border: 2px dashed rgba(0, 0, 0, var(--colorOpacity));
    border-collapse: collapse;
    padding: .3rem .5rem;
    background-color: var(--component);
    color: var(--shadowColor);
}

.article .articleContent .bookIdTable td img {
    width: 2rem;
    margin: 0 .3rem -7px .3rem;
}

.article .articleContent .bookIdTable td img:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.article .sideBookImage {
    width: 200px;
}

.article .sideBookImage img {
    width: 100%;
    border-radius: 4px;
    box-shadow: var(--cardShadow);
}

@media only screen and (max-width: 768px) {
    .article .articleContent .bookIdTable {
        min-width: auto;
    }
}




/* ------------------------- Search page Styling ---------------------------- */
.gsc-control-cse {
    background-color: transparent !important;
    border: none !important;
    border-radius: var(--borderRadius) !important;
    direction: rtl !important;
}

.gsc-webResult.gsc-result {
    border: 2px solid #3333 !important;
    border-radius: var(--borderRadius) !important;
    margin-bottom: 1rem !important;
    background-color: var(--component) !important;
}

.gsc-above-wrapper-area {
    border: none !important;
}

.gcsc-more-maybe-branding-root {
    display: none !important;
}

.gsc-inline-block, .gsc-control-cse .gsc-option-menu {
    border-radius: var(--borderRadius) !important;
}

.gsc-option-menu-item-highlighted {
    border-radius: .5rem !important;
}

.gsc-results .gsc-cursor-box {
    display: flex;
    justify-content: center;
    font-size: .9rem;
}

.gsc-control-cse .gsc-table-result {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.gs-result .gs-image, .gs-result .gs-promotion-image {
    border-radius: .5rem !important;
    max-height: 3rem !important;
    min-height: 3rem !important;
    max-width: 4rem;
    min-width: 4rem;
    overflow: hidden !important;
    border: none !important;
}

.gs-result .gs-image, .gs-result .gs-promotion-image img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    box-shadow: var(--cardShadow) !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    padding: .1rem .3rem !important;
    background-color: var(--reverseComponent) !important;
    border: 2px solid var(--shadowColor) !important;
    border-radius: 5px !important;
    box-shadow: var(--cardShadow);
    cursor: pointer !important;
    text-decoration: none !important;
    color: var(--shadowColor) !important;
    outline: none !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: var(--shadowColor) !important;
    color: var(--reverseComponent) !important;
    cursor: auto !important;
    margin-top: 1rem !important;
}

.gs-result .gs-title *, .gsc-cursor-page, .gs-spelling a {
    color: var(--shadowColor) !important;
    transition: var(--transition);
}

.gs-result .gs-title:hover{
    filter: drop-shadow(0 0 3px #fff);
}

.gsc-results .gsc-cursor-box {
    margin-top: 2.5rem !important;
}

.gcsc-find-more-on-google-root {
    display: none !important;
}

.gcsc-branding {
    display: none !important;
}

.gsc-results .gsc-cursor-box {
    border: none !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
    background-color: transparent !important;
    border: none !important;
}

.gsc-adBlock {
    display: none !important;
}

.gsc-result-info {
    color: var(--shadowColor) !important;
}

.gsc-orderby-label {
    color: var(--shadowColor) !important;
}

.gs-webResult .gs-snippet, .gs-fileFormatType {
    color: var(--shadowColor) !important;
}




/* ------------------------- Footer Styling ---------------------------- */
.pagesFooter {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 1rem 0;
    background-color: var(--structure);
	color: var(--paragraphColor);
	display: flex;
	flex-direction: column;
	align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
    box-shadow: var(--componentShadow);
}




/* ------------------------------------- Image Gallery ---------------------------------- */
.imageGallery {
    display: block;
    margin: 5rem 0;
}

.buttons {
    position: absolute;
    bottom: 0;
    right: .5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.buttons .overlaybutton {
    background: none;
	color: #fff;
	border: 0;
	font-size: 17px;
	font-weight: bolder;
	cursor: pointer;
	margin-bottom: 1rem;
    transition: all .3s;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.buttons .overlaybutton:hover {
    color: #fff9;
}


.overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	opacity: 0;
	z-index: 10;
	animation: fade .5s forwards;
}

.overlay.open {
	display: grid;
	align-items: center;
	justify-items: center;
}

.overlayInner img {
	width: 100%;
}

.article .gallery {
	padding: 1rem 2px;
	flex-wrap: wrap;
	display: flex;
    gap: 1rem;
    justify-content: center;
    max-height: 24rem;
    overflow-y: auto;
}
  
.article .gallery div {
	width: 250px;
    min-height: 11rem;
    max-height: 11rem;
	cursor: zoom-in;
}
  
.article .gallery div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--borderRadius);
	box-shadow: var(--cardShadow);
	transition: .4s;
}

.article .gallery img:hover {
	box-shadow: var(--hoverShadow);
        transform: scale(1.05);
}

/* ----------------------- Styling Gallery for tablet screens */
@media only screen and (max-width: 1120px) {
    .pageContainer .buttons .overlaybutton {
        text-shadow: none;
        filter: drop-shadow(0 0 .9px #000);
    }
    
    .pageContainer .overlayInner {
        width: 100vw;
    }

    .article .overlayInner {
        width: auto;
    }
}




/* -------------------------------------- Videos --------------------------------------- */
.videos {
	position: relative;
	padding: var(--globalPadding);
}

.videos .playlistWrapper {
	display: flex;
	flex-wrap: nowrap;
	border-radius: var(--borderRadius);
    box-shadow: var(--componentShadow);
    background-color: var(--component);
}

.videos .playlistItems {
	padding: 2rem;
	border-top-right-radius: var(--borderRadius);
	border-bottom-right-radius: var(--borderRadius);
	flex: 1;
    background-color: var(--component);
}

.videos .playlistItems .items {
	padding: 1rem;
	box-shadow: var(--cardShadow);
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	min-width: 100%;
	max-height: 25.5rem;
	overflow-y: auto;
	overflow-x: hidden;
	flex: 1;
}

.videos .playlistItem {
    display: grid;
	grid-template-columns: 5rem 4fr;
	align-items: center;
	gap: 1.5rem;
	transition: all .1s;
	border-radius: .5rem;
	min-width: 27rem;
	min-height: 3.5rem;
	max-height: 3.5rem;
	cursor: pointer;
	overflow: hidden;
	background-color: var(--darkComponent);
	color: var(--accent);
}

.videos .playlistItem:first-of-type {
	color: var(--reverseComponent);
	box-shadow: var(--itemShadow);
}

.videos .playlistItem p {
	text-overflow: ellipsis;
    max-height: 2.8rem;
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.videos .playlistItem:hover {
	opacity: .8;
}

.videos .playlistItem img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    transform: scale(1.4);
	object-position: center;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.videos .playlistItem p {
	font-size: 15px;
}

.videos .playlistWrapper .player {
	border-top-left-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
	background: url("../images/defaultVideo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	min-height: 30rem;
	max-height: 30rem;
	max-width: 200rem;
}

.videos .playlistWrapper .player iframe {
	border-top-left-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
	width: 100%;
	height: 100%;
	min-height: 30rem;
	max-height: 30rem;
}




/* Laptop Screen Style for Video Player */
@media only screen and (max-width: 1120px) {
    .videos .playlistWrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .videos .playlistItems {
        border-top-right-radius: var(--borderRadius);
        border-top-left-radius: var(--borderRadius);
        border-bottom-right-radius: 0;
        flex: 1;
        min-width: auto;
    }

    .videos .playlistItems .items {
        padding: 3px;
        padding-left: 1rem;
        box-shadow: none;
        max-height: 15rem;
    }
    
    .videos .playlistItem  {
        height: 4rem;
        grid-template-columns: auto 4fr;
    }

    .videos .playlistItem img {
        max-width: 10vw;
    }
    
    .videos .playlistWrapper .player {
        border-top-left-radius: 0;
        border-bottom-left-radius: var(--borderRadius);
        border-bottom-right-radius: var(--borderRadius);
        min-height: auto;
    }
    
    .videos .playlistWrapper .player iframe {
        border-top-left-radius: 0;
        border-bottom-left-radius: var(--borderRadius);
        border-bottom-right-radius: var(--borderRadius);
        border: none;
    }
}



@media only screen and (max-width: 768px) {
    .videos .playlistWrapper {
        margin: 0;
    }
    
    .videos .playlistItems {
        min-width: 5rem;
        flex: 1;
        max-width: 100%;
        padding: .7rem;
    }

    .videos .playlistItems .items {
        max-height: 15rem;
        padding: 3px;
        padding-left: .8rem;
        box-shadow: none;
    }
    
    .videos .playlistItem {
        min-width: 5rem;
        flex: 1;
        max-width: 100%;
        min-height: 2.5rem;
    }
    
    .videos .playlistItem p {
        text-overflow: ellipsis;
        max-height: 2.5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 12.5px;
    }
    
    .videos .playlistWrapper .player {
        min-height: 45vw;
        max-height: 45vw;
    }

    .videos .playlistWrapper .player iframe {
        min-height: 45vw;
        max-height: 45vw;
    }
}