*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal';
}

:root {
    --bgc: #eeeeee;
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
	font-weight: normal;
    src: url(../../fonts/Tajawal-Regular.ttf);
}

@font-face {
    font-family: 'Tajawal Bold';
    src: url(../../fonts/Tajawal-ExtraBold.ttf);
    font-style: normal;
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none;
	  -webkit-user-select: none; 
	   -khtml-user-select: none;  
		 -moz-user-select: none; 
		  -ms-user-select: none; 
			  user-select: none; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}





/* ----------------------------------- Menu styling ------------------------------------ */
.dashMenuContainer {
    position: relative;
}

.dashMenu {
    position: absolute;
    top: -35rem;
    transition: all .3s;
    z-index: 2;
}

.icon {
    width: 5rem;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -3.5rem;
    padding: 0 1rem;
    padding-top: .5rem;
    content: "asd";
    background-color: #59dcc2;
    border: .3px solid #000;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.dashMenu:hover {
    top: 0;
}

.dashItem {
    display: grid;
    place-items: center;
    gap: 1rem;
    background-color: #2ccaab;
    padding: 2rem 0;
    min-width: 15rem;
    max-width: 15rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: .3px solid #000;
}

.dashItem:hover {
    background-color: #0edab1;
}

.dashItem img {
    width: 5rem;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(203deg) brightness(101%) contrast(104%);
}




/* ----------------------------------- items styling ------------------------------------ */
.items {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    min-height: 100vh;
    min-width: 100vw;
}

.itemsContainer {
    background-color: #ddd;
    border-radius: .5rem;
}

.item {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 30rem;
    padding: .5rem;
    border-bottom: 1px solid #333;
}

.item:last-of-type {
    border: none;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.button:hover {
    opacity: .7;
}

.buttonPrimary {
    color: #8bb500;
    margin-top: 1rem;
    padding: .5rem .3rem;
    background-color: #ddd;
    border-radius: .5rem;
}

.buttonDanger {
    color: tomato;
}

.input {
    width: 60%;
    padding: .5rem;
    margin: 1rem 0;
}