*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal';
}

:root {
    --bgc: #eeeeee;
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
	font-weight: normal;
    src: url(../../fonts/Tajawal-Regular.ttf);
}

@font-face {
    font-family: 'Tajawal Bold';
    src: url(../../fonts/Tajawal-ExtraBold.ttf);
    font-style: normal;
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none;
	  -webkit-user-select: none; 
	   -khtml-user-select: none;  
		 -moz-user-select: none; 
		  -ms-user-select: none; 
			  user-select: none; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}





/* ----------------------------------- Menu styling ------------------------------------ */
.dashMenuContainer {
    position: relative;
}

.dashMenu {
    position: absolute;
    top: -34rem;
    transition: all .3s;
}

.icon {
    width: 5rem;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: -3.5rem;
    padding: 0 1rem;
    padding-top: .5rem;
    transition: all 5s;
    content: "asd";
    background-color: #59dcc2;
    border: .3px solid #000;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.dashMenu:hover {
    top: 0;
    color: green;
}

.dashItem {
    display: grid;
    place-items: center;
    gap: 1rem;
    background-color: #59dcc2;
    padding: 2rem 0;
    min-width: 15rem;
    max-width: 15rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: .3px solid #000;
}

.dashItemLite {
    background-color: #80e8d3;
}

.dashItemDark {
    background-color: #2ccaab;
}

.dashItem:hover {
    opacity: .9;
}

.dashItem img {
    width: 5rem;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(203deg) brightness(101%) contrast(104%);
}