{% extends "backend/layout.html" %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}">
<script src="{% static 'js/pages.js' %}" defer></script>
{% endblock %}


{% block body %}

<div class="overlay">
    <div class="overlayInner">
        <div class="buttons">
            <button class="overlaybutton close"> → رجوع </button>
            <a target="_blank" href="" id="download" class="overlaybutton download" download=""> ↓ تنزيل </a>
        </div>
        <img>
    </div>
</div>


<main>
    <div class="path">
        <p class="component"><a href="{% url 'backend:home' %}"> الصفحة الرئيسية </a></p>
        <p class="pathArrow"> &#xbb; </p>
        <p class="component"><a href="{% url 'backend:activities' %}"> نشاطات المؤسسة </a></p>
        <p class="pathArrow"> &#xbb; </p>
        <p id="articleURL" class="component"><a href="{% url 'backend:activity' activity.id %}">
            {{ activity.title }}
        </a></p>
    </div>
    <div class="article">
        <div class="articleDetails">
            <p class="articleTitle">
                {{ activity.title }}
            </p>
            <div class="statistics">
            <p class="date">{{ activity.created_at }}</p>
            <div class="horizontalLine">|</div>
            <p class="views"> الزيارات: <span>33</span></p>
            </div>
        </div>
        
        <div class="articleContent">
        <div class="articleMedia">
            <div class="articleImage">
                <img src="{{ activity.main_img.image.url }}" alt="صورة المقال">
            </div>
            {% if activity.audio != null %}
            <audio src="{{activity.audio}}" controls></audio>
            {% endif %}
        </div>
        <div class="articleText">
            {{ activity.body }}
        </div>
    </div>

        <div class="imageGallery">

            <div class="gallery">
                {% for image in activity.img_array.all %}
                <div onclick="imageGallery(this)" class="img">
                    <img src="{{image.image.url}}" alt="صورة">
                </div>
                {% endfor %}
            </div>

        </div>

        {% if activity.vid_array != null %}
            <div class="videos articleVideos">
                <div class="playlistWrapper">
                    <div class="playlistItems">
                        <div class="items">
                            {% for vid in activity.vid_array.all %}
                            <div onclick="youtubePlayer(this)" class="playlistItem" data-src="https://www.youtube.com/embed/{{vid.vid_id}}?rel=0">
                                <img src="https://img.youtube.com/vi/{{vid.vid_id}}/0.jpg" alt="صورة مصغرة">
                                <p>{{vid.title}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="player">
                        <iframe src="https://www.youtube.com/embed/{{activity.vid_array.all.first.vid_id}}?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</main>
{% endblock %}