{% extends "backend/layout.html" %}
{% load static %}


{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
<!-- Activities -->
<section class="activities">
    <h1 class="title">
      <a class="titleLink" href="{% url 'backend:activities' %}"> نشاطات المؤسسة </a>
    </h1>
    <div class="container">
        {% for activity in activities %}

        <div class="activity">
            <img src="{{ activity.main_img.image.url }}">
            <div class="overlay">
              <p class="actDate">{{ activity.created_at }}</p>
              <a href="{% url 'backend:activity' activity.id %}">{{ activity.title }}</a>
            </div>
            <div class="background"></div>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock %}