{% extends "backend/layout.html" %}
{% load static %}


{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}


{% block body %}
<main>
    <div class="path">
        <p class="component"><a href="{% url 'backend:home' %}"> الصفحة الرئيسية </a></p>
        <p class="pathArrow"> &#xbb; </p>
        <p class="component">
            {% if activities %}
            <a href="{% url 'backend:activities' %}"> نشاطات المؤسسة </a>
            {% elif productions %}
            <a href="{% url 'backend:productions' %}"> نتاجات المؤسسة </a>
            {% endif %}
            <a href="{% url 'backend:items' page.slug %}">{{ page.title }}</a>
        </p>
    </div>
    
    <div class="pageContainer 
        {% if activities %}
        itemsContainer
        {% endif %}
    ">

        {% for item in items %}
        <a href="{% url 'backend:itemDetails' page.slug item.id %}">
            <h1>{{item.title}}</h1>
        </a>
        {% empty %}
        <h1>ماكو</h1>  
        {% endfor %}

        {% if activities %}
        
            {% for activity in activities %}
            <a class="activity" href="{% url 'backend:activity' activity.id %}">
                <div class="item">
                    <div class="itemImage">
                        <img src="{{ activity.main_img.image.url }}" alt="{{ activity.title }}">
                    </div>
                    <div class="itemDetails">
                        <p class="itemTitle">
                            {{ activity.title }}
                        </p>
                        <div class="statistics">
                            <p class="date">{{ activity.created_at|date:"Y-m-d" }}</p>
                            <!-- <div class="horizontalLine">|</div>
                            <p class="views"> الزيارات: <span></span></p> -->
                        </div>
                    </div>
                </div>
            </a>
            {% empty %}
            <p>لا توجد عناصر</p>
            {% endfor %}

        {% elif productions %}

            {% for production in productions %}
            <a class="production" href="{% url 'backend:production' production.id %}">
                <div class="card">
                    <div class="cardImage">
                        <img src="{{ production.main_img.image.url }}" alt="{{ production.title }}">
                    </div>
                    <div class="cardDetails">
                        <p class="cardTitle">
                            {{ production.title }}
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
        {% endif %}

    </div>

    <div class="paginationBar"></div>
</main>
{% endblock %}