{% extends "dashboard/layout.html" %}




{% block body %}
<style>
    body {
        display: flex;
        justify-content: center;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 50rem;
    }
</style>
<form method="POST">
    {% csrf_token %}
    <input name="title" type="text" placeholder="عنوان المقال">
    <input name="main_img" type="text" placeholder="رابط الصورة الرئيسية">
    <textarea name="body" cols="30" rows="10" placeholder="تفاصيل المقال"></textarea>
    <button>إضافة صور</button>
    <input type="submit" value="حفظ وإرسال">
</form>
{% endblock %}