{% extends "dashboard/layout.html" %}


{% block body %}
{% include "dashboard/menu.html" %}

<div class="items">
    {% if section.images %}
    <h1 class="itemsTitle">الصور</h1>
    <a href="{% url 'dashboard:create-image' %}"><button>رفع صور</button></a>
    {% elif section.audios %}
    <h1 class="itemsTitle">مقاطع الصوت</h1>
    <a href="{% url 'dashboard:create-audio' %}"><button>رفع مقطع صوتي</button></a>
    {% elif section.videos %}
    <h1 class="itemsTitle">مقاطع الفيديو</h1>
    <a href="{% url 'dashboard:create-video' %}"><button>اضافة فيديو</button></a>
    {% endif %}
    <div class="filesContainer">
        {% for item in items %}
        <div class="file">
            {% if section.images %}
            <img width="150" height="120" src="{{item.image.url}}" alt="{{item.id}}">
            {% elif section.audios %}
            <audio src="{{item.audio.path}}" controls></audio>
            {% elif section.videos %}
            <img width="200" height="130" src="https://img.youtube.com/vi/{{ item.vid_id }}/0.jpg" alt="{{item.id}}">
            {% endif %}
            {% if item.title %}
            <p class="fileTitle">{{ item.title }}</p>
            {% else %}
            <p>{{ item.id }}</p>
            {% endif %}
            <div class="buttons">
                <a class="button buttonEdit"
                    {% if section.images %}
                    href="{% url 'dashboard:update-activity' item.id %}"
                    {% elif section.productions %}
                    {% endif %}
                >
                    نسخ الرابط
                </a>

                <a class="button buttonDanger"
                    {% if section.images %}
                    href="{% url 'dashboard:delete-image' item.id %}"
                    {% elif section.audios %}
                    href="{% url 'dashboard:delete-audio' item.id %}"
                    {% elif section.videos %}
                    href="{% url 'dashboard:delete-video' item.id %}"
                    {% endif %}
                >
                    حذف
                </a>
            </div>
        </div>
        
        {% empty %}
        <p>لا توجد عناصر.</p>
        {% endfor %}
    </div>
    {% if section.activities %}
    <a class="button buttonPrimary" href="{% url 'dashboard:create-activity' %}">إضافة نشاط</a>
    {% elif section.productions %}
    <a class="button buttonPrimary" href="{% url 'dashboard:create-production' %}">إضافة نتاج</a>
    {% endif %}
</div>
{% endblock %}