{% extends "dashboard/layout.html" %}
{% load static %}


{% block body %}
{% include "dashboard/menu.html" %}

<div class="items">
    {% if section.images %}
    <h1 class="itemsTitle">الصور</h1>
    <a class="button buttonPrimary" href="{% url 'dashboard:create-image' %}">رفع صور</a>
    {% elif section.audios %}
    <h1 class="itemsTitle">مقاطع الصوت</h1>
    <a class="button buttonPrimary" href="{% url 'dashboard:create-audio' %}">رفع مقطع صوتي</a>
    {% elif section.videos %}
    <h1 class="itemsTitle">مقاطع الفيديو</h1>
    <a class="button buttonPrimary" href="{% url 'dashboard:create-video' %}">اضافة فيديو</a>
    {% endif %}
    <div class="filesContainer">
        {% for item in items %}
        <div class="file">
            {% if section.images %}
            <img width="150" height="120" src="{{item.image.url}}" alt="{{item.id}}">
            {% elif section.audios %}
            <audio src="{{item.audio.url}}" controls></audio>
            {% elif section.videos %}
            <img width="200" height="130" src="https://img.youtube.com/vi/{{ item.vid_id }}/0.jpg" alt="{{item.id}}">
            {% endif %}
            {% if item.title %}
            <p class="fileTitle">{{ item.title }}</p>
            {% else %}
            <p>{{ item.id }}</p>
            {% endif %}
            <div class="buttons">
                <a class="button buttonEdit" onclick="copyURL(this.dataset.url)"
                    {% if section.images %}
                        data-url="{{media_path}}{{item.image}}"
                        {% elif section.audios %}
                        data-url="{{media_path}}{{item.audio}}"
                        {% elif section.videos %}
                        data-url="https://www.youtube.com/embed/{{item.vid_id}}?rel=0"
                    {% endif %}
                >
                    نسخ الرابط
                </a>

                <form
                    {% if section.images %}
                    action="{% url 'dashboard:delete-image' item.id %}"
                    {% elif section.audios %}
                    action="{% url 'dashboard:delete-audio' item.id %}"
                    {% elif section.videos %}
                    action="{% url 'dashboard:delete-video' item.id %}"
                    {% endif %}
                    method="POST">
                    {% csrf_token %}
                    <p onclick="this.parentElement.submit()" class="button buttonDanger">حذف</p>
                </form>
            </div>
        </div>
        
        {% empty %}
        <p>لا توجد عناصر.</p>
        {% endfor %}
    </div>
    {% if section.activities %}
    <a class="button buttonPrimary" href="{% url 'dashboard:create-activity' %}">إضافة نشاط</a>
    {% elif section.productions %}
    <a class="button buttonPrimary" href="{% url 'dashboard:create-production' %}">إضافة نتاج</a>
    {% endif %}
</div>
<script>
    function copyURL(item){
        navigator.clipboard.writeText(item)
    }
</script>
{% endblock %}