{% extends "dashboard/layout.html" %}




{% block body %}
    {% include "dashboard/menu.html" %}

    <div class="items">
        {% if section.activities %}
        <h1 class="itemsTitle">نشاطات المؤسسة</h1>
        {% elif section.productions %}
        <h1 class="itemsTitle">نتاجات المؤسسة</h1>
        {% endif %}
        <div class="itemsContainer">
            {% for item in items %}
            <div class="item">
                <p>{{ item.title }}</p>
                <img width="150" height="100" src="{{ item.main_img.image.url }}" alt="">
                <div class="buttons">
                    {% if section.activities %}
                    <form action="{% url 'dashboard:activate-activity' item.id %}" method="POST">
                        {% csrf_token %}
                        <input onchange="this.form.submit()" class="checkbox" type="checkbox" 
                        {% if item.active == True %}
                        checked
                        {% endif %}
                        >
                    </form>
                    <a class="button buttonEdit" href="{% url 'dashboard:update-activity' item.id %}">تعديل</a>
                    <a class="button buttonDanger" href="{% url 'dashboard:delete-activity' item.id %}">حذف</a>
                    {% elif section.productions %}
                    <form action="{% url 'dashboard:activate-production' item.id %}" method="POST">
                        {% csrf_token %}
                        <input onchange="this.form.submit()" class="checkbox" type="checkbox" 
                        {% if item.active == True %}
                        checked
                        {% endif %}
                        >
                    </form>
                    <a class="button buttonEdit" href="{% url 'dashboard:update-production' item.id %}">تعديل</a>
                    <a class="button buttonDanger" href="{% url 'dashboard:delete-production' item.id %}">حذف</a>
                    {% endif %}
                </div>
            </div>
            
            {% empty %}
            <p>لا توجد عناصر.</p>
            {% endfor %}
        </div>
        {% if section.activities %}
        <a class="button buttonPrimary" href="{% url 'dashboard:create-activity' %}">إضافة نشاط</a>
        {% elif section.productions %}
        <a class="button buttonPrimary" href="{% url 'dashboard:create-production' %}">إضافة نتاج</a>
        {% endif %}
    </div>
    
{% endblock %}